html,
body,
#__next {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}
ul {
  padding: 0px;
}

button {
  outline: none;
}

button.transparent {
  background-color: transparent;
  border: none;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
  list-style-type: lower-alpha;
}

.v-flex {
  display: flex;
  flex-direction: column;
}
.h-flex {
  display: flex;
  flex-direction: row;
}
.flex-1 {
  flex: 1;
}
.non-overflow {
  overflow: hidden;
}
.hidden {
  display: none;
}
.auto-margin {
  margin: auto;
}
